body {
  max-width: 320px;
  margin: auto;
  background: #ffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  text-align: justify;
}

img {
  display: block;
  max-width: 100%;
}

h1 { 
  font-family: 'Stick No Bills', sans-serif;
  writing-mode: vertical-lr;
  rotate: 180deg;
  margin: 0;
}

h3 {
  text-align: center;
  color: #ffff;
  background-color: black;
}

footer {
  text-align: center;
  background-color: black;
  color:#ffff
}

.container {
  display: flex;
  flex-direction: row;
}

main img {
  max-width: 80%;
}

.img-1 {
  box-shadow: 10px 10px rgb(142, 183, 204);
}

.img-2 {
  box-shadow: 10px 10px rgb(103, 117, 101);
}

.img-3 {
  box-shadow: 10px 10px rgb(204, 162, 70);
}

.img-4 {
  box-shadow: 10px 10px rgb(214, 204, 66);
} 